table{
    margin: 2rem 4rem ;
}
tr,td{
   padding: 2rem 1rem;
}

input{
    color: rgb(55 65 81);
    background-color: white;
    background-clip: padding-box;
    border: solid;
    border-color: white;
    border-radius: 0.25rem ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms; 
    margin-top: 0.2rem;
    padding-left: 0.4rem;
    border-bottom: 1px solid rgb(209 213 219);

   
}
select{
    color: rgb(55 65 81);
    background-color: white;
    background-clip: padding-box;
    border: solid 1px;
    border-color: rgb(201, 200, 200);
    border-radius: 0.25rem ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms; 
    margin-top: 0.2rem;
    padding-left: 0.4rem;

}
input :focus{
    outline: none;
} 


/*className="text-gray-700 px-2 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
 */